@{
    ViewData["Title"] = "Trang cá cược Esport";
}
<h2 class="h2-title">Trang cá cược Esport</h2>

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">

     <div class="left-content">
        <a href=""> <img src="~/images/421.jpg" /></a>
     </div>
    <div class="right-content">
       <h1> Trang cá cược Esport⭐️⭐️<a href="">
            【77Bet.Com】
        </a>Đăng ký và nhận <a href="">
            1888k ⭐️77bet.casino⭐️ 77bet.casino</a> trực tuyến thường xuyên Việt Nam, đăng ký ngay để nhận tiền thưởng⭐️Mời bạn bè giành tiền thưởng khủng⭐️
            <a href=""><img src="~/images/3_480x480.png"></a>
        </h1>
    </div>
    <div class="clearboth"></div>
    </main>