@{
    ViewData["Title"] = "Trang cá cược Hi88bet.com";
}
<h2 class="h2-title">Trang cá cược Hi88bet.com</h2>

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">

     <div class="left-content">
        <a href="/home/bet77"> <img src="~/images/1.jpg" /></a>
        <a href="/home/bet77"> <img src="~/images/002.png" /></a>
        <a href="/home/bet77"> <img src="~/images/003.jpg" /></a>
     </div>
    <div class="right-content">
        <p class="product__text inline-richtext">ca khia tv🐣【Hi88bet.com】Kiếm tiền bằng cách giới thiệu bạn bè</p>
        <h1>
            ca khia tv🐣【Hi88bet.com】Kiếm tiền bằng cách giới thiệu bạn bè⭐️Hi88bet.com⭐️Sòng bạc trực tuyến uy tín hàng đầu tại Việt Nam⭐️Đảm bảo uy tín trong mười năm⭐️Đăng ký ngay, nhận ngay phần thưởng hậu hĩnh️⭐️Mời bạn bè giành thưởng lớn⭐️

        </h1>
    </div>
    <div class="clearboth"></div>
    </main>

