@{
    ViewData["Title"] = "Trang cá cược New88";
}
<h2 class="h2-title">Trang cá cược New88</h2>

<main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">

    <div class="left-content">
        <a href="/home/bet77"> <img src="~/images/new88_1.jpg" /></a>
        <a href="/home/bet77"> <img src="~/images/new88_2.png" /></a>
        <a href="/home/bet77"> <img src="~/images/new88_3.png" /></a>

        <a href="/home/bet77"> <img src="~/images/new88_4.png" /></a>
    </div>
    <div class="right-content">
        <p class="product__text inline-richtext">New88 đăng nhập❤️️</p>
        <h1>
            【N88.Com】100.000 người chơi⭐️N88.Com⭐️N88 Casino trực tuyến thường xuyên Việt Nam, đăng ký ngay để nhận tiền thưởng⭐️Mời bạn bè giành tiền thưởng khủng⭐️
        </h1>
    </div>
    <div class="clearboth"></div>
</main>

